# docker-compose.yml
version: "3.9"

services:
  api:
    build: .
    container_name: healing_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - vectordb

  vectordb:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage